@model Programación_Web_Nubit.Models.Datos_laborales
@{
    ViewData["Title"] = "Crear Dato_Laboral";
}

<head>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Play&display=swap" rel="stylesheet">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Play&display=swap" rel="stylesheet">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Oswald:wght@300&family=Roboto&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="~/css/D_personales.css" />
	<title>Nubit</title>
</head>

<body>
	<h4 class="form-label__titulos"><span> Datos laborales</span></h4>

	<main action="" class="formulario" id="formulario">
		<form asp-action="CrearDato_laboral" method="post">
			<!-- Grupo: Usuario -->
			<div class="formulario__grupo" id="grupo__CPP">
				<label asp-for="Nombrempresa" class="formulario__label">Nombre de la empresa</label>
				<div class="formulario__grupo-input">
					<input asp-for="Nombrempresa" class="formulario__input"   placeholder="4491234567">
					<i class="formulario__validacion-estado fas fa-times-circle"></i>
				</div>
				<p class="formulario__input-error">El telefono solo puede contener numeros y el maximo son 14 dígitos.</p>
			</div>

			<div class="formulario__grupo" id="grupo__Asentamiento">
				<label asp-for="lugartrabajo" class="formulario__label">Lugar de trabajo</label>
				<div class="formulario__grupo-input">
					<input asp-for="lugartrabajo" class="formulario__input" 
						   placeholder="SRX03122HQRNCSAT">
					<i class="formulario__validacion-estado fas fa-times-circle"></i>
				</div>
				<p class="formulario__input-error">
					La CURP tiene que ser de 16 dígitos y solo puede contener numeros, letras
				</p>
			</div>


			<div class="formulario__grupo" id="grupo__Asentamiento">
				<label asp-for="puestoempeñado" class="formulario__label">Puesto desempeñado</label>
				<div class="formulario__grupo-input">
					<input asp-for="puestoempeñado" class="formulario__input"  
						   placeholder="SRX03122HQRNCSAT">
					<i class="formulario__validacion-estado fas fa-times-circle"></i>
				</div>
				<p class="formulario__input-error">
					La CURP tiene que ser de 16 dígitos y solo puede contener numeros, letras
				</p>
			</div>


			<div class="formulario__grupo" id="grupo__Asentamiento">
				<label asp-for="tiempoprestado" class="formulario__label">Año de<BR> Tiempo de su servicio<BR>Prestado</label>
				<div class="formulario__grupo-input">
					<input asp-for="tiempoprestado" class="formulario__input"  
						   placeholder="SRX03122HQRNCSAT">
					<i class="formulario__validacion-estado fas fa-times-circle"></i>
				</div>
				<p class="formulario__input-error">
					La CURP tiene que ser de 16 dígitos y solo puede contener numeros, letras
				</p>
			</div>


			<div class="formulario__grupo" id="grupo__terminos">
				<label class="formulario__label">
					<input class="formulario__checkbox" type="checkbox" name="terminos" id="terminos">
					Acepto los Terminos y Condiciones
				</label>
			</div>

			<div class="formulario__mensaje" id="formulario__mensaje">
				<p>
					<i class="fas fa-exclamation-triangle"></i> <b>Error:</b> Por favor rellena el formulario correctamente.
				</p>
			</div>
			<div>
			</div>

			<div class="container-fluid">
				<button type="submit" class="formulario__btn">Guardar</button>
			</div>
			<div class="formulario__grupo formulario__grupo-btn-enviar">
				<br />				
				<p class="formulario__mensaje-exito" id="formulario__mensaje-exito">Formulario enviado exitosamente!</p>
				<button class="formulario__btn" href="/Home/Felicidades">Siguente</button>
			</div>



		</form>
	</main>
</body>
