@{
    ViewData["Title"] = "Servicios";
    Layout = "_Layout";
}


<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Play&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="~/css/cliente.css" />

    <title>Nubit</title>
</head>

<body>
    <main>
        <h1 class="title">Aires Acondicionados</h1>
        <div class="Total">
            <ul>
                <li>
                    <div class="Servicios">
                        <h4 class="titulo_servicios">Servicios</h4>
                        <br>
                        <a href="/Home/Cliente"><button>Carpintero</button></a>
                        <br>
                        <br>
                        <a href="/Home/Electricista"><button>Electricista</button></a>
                        <br>
                        <br>
                        <a href="/Home/Fumigador"><button>Fumigador</button></a>
                        <br>
                        <br>
                        <a href="/Home/Aires"><button>Aires Acondicionados</button></a>
                        <br>
                        <br>
                        <a href="/Home/Plomero"><button>Plomero</button></a>
                    </div>
                </li>
            </ul>
        </div>
        <div class="cont">
            <form action="#">
                <input class="campo" type="tel" name="phone" placeholder="Ingrese Numero de Telefono">
                <input class="btn-enviar" type="submit" value="Enviar">

            </form>
            <h2 class="title_dos">Podemos Ayudarte en:</h2>
            <li class="info">Instalacion de equipos, productos y soluciones.</li>
            <li class="info">Reparacion de equipo en aires acondicionados y refrigeracion.</li>
            <li class="info">Contratos de servicio de mantenimiento preventivo y correctivo.</li>
            <li class="info">Instalación de sistemas de aire de lavado, aire acondicionado.</li>
            <li class="info">Refrigeración comercial e Industrial y equipos de proceso (chillers).</li>
            <li class="info">Inyección y extracción (cambios de aire).</li>
        </div>
    </main>
    <!--Fin del main-->
    <!--Inicio de aside-->
    <aside>
        <div class="contenedor_img">
            <div class="box">
                <img src="../image/img_aires/aire1.jpg" alt="">
            </div>
            <div class="box">
                <img src="../image/img_aires/aire2.jpg" alt="">
            </div>
            <div class="box">
                <img src="../image/img_aires/aire3.jpg" alt="">
            </div>
            <div class="box">
                <img src="../image/img_aires/aire4.jpg" alt="">
            </div>

        </div>
    </aside>

</body>


