@model IEnumerable<Programación_Web_Nubit.Models.Serviciosofrecidos>
@{
    ViewData["Title"] = "Servicios";
    Layout = "_Layout";
}


<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Play&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="~/css/cliente.css" />

    <title>Nubit</title>
</head>

<body>
    <main>
        <h1 class="title">Detalles del Servicio</h1>
        <div class="ImgS">     

             <img class="Serv" src="/css/Image/notification_illustration_3.svg" alt="" width="450px"></img>

        </div>
        <div class="cont">
            <form action="#">
                <input class="campo" type="tel" name="phone" placeholder="Ingrese Numero de Telefono">
                <input class="btn-enviar" type="submit" value="Enviar">

            </form>
            <h2 class="title_dos">Podemos Ayudarte en:</h2>
            @foreach(var item in Model)
            {
                <li class="info">@Html.DisplayFor(v=>item.Descripcion)</li>
            }
            
           
        </div>
    </main>
    <!--Fin del main-->
    <!--Inicio de aside-->
   @* <aside>
        <div class="contenedor_img">
            <div class="box">
                <img src="../image/img_carpintero/cap1.jpg" alt="">
            </div>

            <div class="box">
                <img src="../image/img_carpintero/cap3.jpg" alt="">
            </div>
            <div class="box">
                <img src="../image/img_carpintero/cap4.jpg" alt="">
            </div>
            <div class="box">
                <img src="../image/img_carpintero/cap5.jpg" alt="">
            </div>
        </div>
    </aside>*@


</body>
