<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/dashboard.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Play&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Play&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Oswald:wght@300&family=Roboto&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/f7d8e2933c.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Play&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto&display=swap"
        rel="stylesheet">
    <title>Dashboard</title>
</head>

<body>
    

    <div id="sidebar">
        <header>
            <a href="#">NUBIT</a>
        </header>
        <ul class="nav">
            <li onclick="pedidos()">
                <a href="/Home/dashboard">
                    <i class="fa-solid fa-user-plus"></i> Usuarios
                </a>
            </li>
            <li>
                <a href="/Home/dashboard_serv">
                    <i class="fa-solid fa-shop"></i> Servicios
                </a>
            </li>
            <li>
                <a href="/Home/dashboard_solic">
                    <i class="fa-solid fa-file"></i> Solicitudes
                </a>
            </li>
            <li>
                <a href="/solicitud.html">
                    <i class="zmdi zmdi-comment-more"></i> Contacto
                </a>
            </li>
        </ul>
    </div>

    <div class="container-fluid">
        <div class="offset-2">
            <div class="card border">
                <div class="card-header bg-dark">
                    <h1 class="text-white"><strong>Articulos</strong></h1>
                </div>
            </div>
            <table id="tablita" class="table">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Apellido</th>
                        <th scope="col">Usuarios</th>
                        <th scope="col">Contraseña</th>
                        <th scope="col">Rol</th>
                        <th scope="col" style="display: d-flex; justify-content: right;">
                        </th>
                        <th>
                            <a title="Agregar Producto">
                                <button class="card">
                                    <a class="agregar" href=""><i class="fa-solid fa-plus"></i> Agregar</a>
                                </button>
                            </a>
                        </th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    <tr>
                        <th scope="row">1</th>
                        <td>Jesus</td>
                        <td>Armando</td>
                        <td>Alucard</td>
                        <td>1234</td>
                        <td>Admin</td>
                        <td>
                            <button>
                                <i class="fa-solid fa-pen"></i>
                            </button>
                            <button>
                                <i class="fa-solid fa-trash"></i>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Samuel</td>
                        <td>Roman</td>
                        <td>Paradise</td>
                        <td>5678</td>
                        <td>SuperAdmin</td>
                        <td>
                            <button>
                                <i class="fa-solid fa-pen"></i>
                            </button>
                            <button>
                                <i class="fa-solid fa-trash"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <br><br><br><br><br><br><br><br><br><br><br><br><br><br>

</body>

</html>