@{
    ViewData["Title"] = "Home Page";
}

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Play&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="~/css/Style.css" />

    <title>Nubit</title>
</head>

<body>
    <main>
        <h1 class="title">Portafolio de Servicios</h1>
        <p class="contenido">
            Ningún trabajo es demasiado grande o demasiado pequeño para nuestro equipo, <br>
            Tenemos trabajadores talentosos que pueden ayudarlo a encontrar la solucion a su problema
        </p>

        <div class="Container_cards">
            <div class="cards">
                <a href="./assets/pages/cliente.html"><img src="/css/Image/carpintero.jpg" alt=""></a>
                <h4>Carpintero</h4>
                <p>Construcciones de ventanas,
                    techos, pisos, paredes y puertas de madera y otras estructuras de madera.
                </p>
                <a href="./assets/pages/cliente.html">Contratar</a>
            </div>

            <div class="cards">
                <a href="./assets/pages/electricista.html"><img src="/css/Image/electricidad.jpg"
                        alt=""></a>
                <h4>Electricista</h4>
                <p>Instalan y reparan cables tales como la iluminación, la electricidad y la calefacción.
                </p>
                <a href="./assets/pages/electricista.html">Contratar</a>
            </div>

            <div class="cards">
                <a href="./assets/pages/fumigador.html"><img src="/css/Image/plagas.jpeg" alt=""></a>
                <h4>Fumigador</h4>
                <p>Procedimiento para el control de las plagas o desinfectación en el que se utilizan productos
                    químicos.</p>
                <a href="./assets/pages/fumigador.html">Contratar</a>
            </div>
        </div>
        <div class="Container_cards">
            <div class="cards">
                <a href="./assets/pages/instalador.html"><img src="/css/Image/aires.jpg"
                        alt=""></a>
                <h4>Instalador de aire acondicionado</h4>
                <p>Instala, repara y realiza mantenimiento a los equipos de aire acondicionado ademas de
                    realizan las pruebas necesarias.</p>
                <a href="./assets/pages/instalador.html">Contratar</a>
            </div>

            <div class="cards">
                <a href="./assets/pages/plomero.html"><img src="/css/Image/plomero.jpg" alt=""></a>
                <h4>Plomero</h4>
                <p>Instalan, reparan y mantienen las tuberías que suministran agua, gas y aire a todo tipo de
                    instalaciones
                    residenciales e industriales.</p>
                <a href="./assets/pages/plomero.html">Contratar</a>
            </div>
        </div>
    </main>

    <aside>
        <div class="contenedor">
            <img class="img_empleado" src="/css/Image/equipo.svg" alt="" width="550px">

            <h2 class="text">¿Quieres ser parte de
                <br>nuestro equipo?
            </h2>

        </div>

        <a href="/Home/solicitudempleo"><button class="btn">
                Más Información
            </button></a>
        </div>
    </aside>

</body>

