@{
    ViewData["Title"] = "Home Page";
}
@model IEnumerable<Programación_Web_Nubit.Models.Empleo>

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Play&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="~/css/Style.css" />

    <title>Nubit</title>
</head>

<body>
    <main>
       
        <h1 class="title">Portafolio de Servicios</h1>
        <p class="contenido">
            Ningún trabajo es demasiado grande o demasiado pequeño para nuestro equipo, <br>
            Tenemos trabajadores talentosos que pueden ayudarlo a encontrar la solucion a su problema
        </p>


        <div class="Marco_Carta">

            @foreach (var item in Model)
            {
                <div class="Container_cards">


                    <div class="cards">
                        <a href="./assets/pages/cliente.html"><img src="@Html.DisplayFor(x=> item.Foto_servicio)" alt=""></a>
                        <h4>
                            @Html.DisplayFor(x=> item.categorias)
                        </h4>
                        <p>
                            @Html.DisplayFor(x=> item.Descripcion)
                        </p>
                        <a href="./assets/pages/cliente.html">Contratar</a>
                    </div>


                </div>
            }



        </div>


    </main>

    <aside>
        <div class="contenedor">
            <img class="img_empleado" src="/css/Image/equipo.svg" alt="" width="550px">

            <h2 class="text">¿Quieres ser parte de
                <br>nuestro equipo?
            </h2>

        </div>

        <a href="/Home/solicitudempleo"><button class="btn">
                Más Información
            </button></a>
        </div>
    </aside>

</body>

