@{
    ViewData["Title"] = "Nosotros";
}

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Play&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Play&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Oswald:wght@300&family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/Nosotros.css" />
    <title>Nubit</title>
</head>

<body>
    <main>
        <div class="header2">
            <section class="header-text">
                <h1>Nosotros</h1>
            </section>
            <div class="wave" style="height: 150px; overflow: hidden;"><svg viewBox="0 0 500 150"
                    preserveAspectRatio="none" style="height: 100%; width: 100%;">
                    <path d="M-3.67,115.97 C149.99,150.00 306.15,54.78 511.57,120.89 L500.00,150.00 L0.00,150.00 Z"
                        style="stroke: none; fill: #fff;"></path>
                </svg></div>
        </div>
        <section class="contenedor Sobre-nosotros">
            <div class="contendor-sobre-nosotros">
                <img src="../image/Nosotros.jpg" alt="" class="image-about-us">
                <div class="contenedor-texto">
                    <h3><span>1</span>Quienes somos</h3>
                    <p>Somos una empresa en crecimiento con multiples experiencias en la
                        industria del mantenimiento, con la mejor infraestuctura y equipo, asi
                        como con el personal mas calificado, con estrategias y planes de trabajo
                        basados en los objetivos de calidad y satisfaccion de nuestros clientes.</p>
                    <h3><span>2</span>Mision</h3>
                    <p>Proveer servicios de mantenimiento, con calidad, mediante la participacion de
                        personal capacitado motivado y con las mejores condicones de vida, desarrollando
                        los valores de honestidad, amabilidad y actitud de servicio.</p>
                </div>
            </div>
        </section>
        <section class="Portafolio">
            <div class="contenedor">
                <h2 class="titulo">Nuestros servicios</h2>
                <div class="galeria-port">
                    <div class="imagen-port">
                        <img src="../image/carpintero.jpg" alt="">
                        <div class="hover-galeria">
                            <img src="../image/icono.png" alt="">
                            <p href="./cliente.html">carpintero</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="../image/electricidad.jpg" alt="">
                        <div class="hover-galeria">
                            <img src="../image/icono.png" alt="">
                            <p>Electricista</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="../image/plagas.jpeg" alt="">
                        <div class="hover-galeria">
                            <img src="../image/icono.png" alt="">
                            <p>Fumigador</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="../image/aires.jpg" alt="">
                        <div class="hover-galeria">
                            <img src="../image/icono.png" alt="">
                            <p>Instalador de aires acondicionados</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="../image/plomero.jpg" alt="">
                        <div class="hover-galeria">
                            <img src="../image/icono.png" alt="">
                            <p>Plomero</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
</body>
