@{
    ViewData["Title"] = "Servicios";
    Layout = "_Layout";
}


<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Play&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="~/css/cliente.css" />

    <title>Nubit</title>
</head>

<body>
    <main>
        <h1 class="title">Servicios de Plomeria</h1>
        <div class="Total">
            <ul>
                <li>
                    <div class="Servicios">
                        <h4 class="titulo_servicios">Servicios</h4>
                        <br>
                        <a href="/Home/Cliente"><button>Carpintero</button></a>
                        <br>
                        <br>
                        <a href="/Home/Electricista"><button>Electricista</button></a>
                        <br>
                        <br>
                        <a href="/Home/Fumigador"><button>Fumigador</button></a>
                        <br>
                        <br>
                        <a href="/Home/Aires"><button>Aires Acondicionados</button></a>
                        <br>
                        <br>
                        <a href="/Home/Plomero"><button>Plomero</button></a>
                    </div>
                </li>
            </ul>
        </div>
        <div class="cont">
            <form action="#">
                <input class="campo" type="tel" name="phone" placeholder="Ingrese Numero de Telefono">
                <input class="btn-enviar" type="submit" value="Enviar">
            </form>
            <h2 class="title_dos">Podemos Ayudarte en:</h2>
            <li class="info">Instalación de Calentador de Agua.</li>
            <li class="info">Servicio Y Reparación de Calentador de Agua.</li>
            <li class="info">Limpieza de Drenaje.</li>
            <li class="info">Reparación Y Reemplazo de Línea de Alcantarillado.</li>
            <li class="info">Comercial de Fontanería Y Drenaje.</li>

        </div>
    </main>
    <!--Fin del main-->
    <!--Inicio de aside-->
    <aside>
        <div class="contenedor_img">
            <div class="box">
                <img src="../image/img_plomero/plo1.jpeg" alt="">
            </div>
            <div class="box">
                <img src="../image/img_plomero/plom-2.jpg" alt="">
            </div>
            <div class="box">
                <img src="../image/img_plomero/plom-3.jpg" alt="">
            </div>
            <div class="box">
                <img src="../image/img_plomero/plom-4.jpg" alt="">
            </div>

        </div>
    </aside>

</body>



