@model Programación_Web_Nubit.Models.Empleo
@{
    ViewData["Title"] = "Recall";
    Layout = "_Layout";
}


<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Play&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="~/css/cliente.css" />

    <title>Nubit</title>
</head>

<body>
    <main style="text-align:center;">
        <h1 class="title" style="

           font-family:Arial;
           font-weight:bold;
           
        ">Para su conocimiento</h1>
            <br />
            <br />
            <p style="font-family:Arial;font-size:20px;text-align:center;">
                La información que se pedirá a continuación sera para contactarlo. Si esta de acuerdo de en continuar
            </p>
             <br />
        <form>
            <input type="hidden" asp-for="Pk_empleo" />
            <button type="submit" asp-action="Cliente" style="

                border-style:none;
                color:white;
                background-color:darkcyan;
                font-size:20px;
                width:100px;
                height:60px;
                border-radius:20px;
                cursor:pointer;
            ">Continuar</button>
        </form>

        <br />
        <br />       
        <br />
        <br />
        <br />
        <br />
    </main>
    <!--Fin del main-->
    <!--Inicio de aside-->

</body>