@{
	ViewData["Title"] = "Seleccion";
}

<head>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Play&display=swap" rel="stylesheet">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Play&display=swap" rel="stylesheet">
	<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Oswald:wght@300&family=Roboto&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="~/css/seleccion.css"/>
	<title>Nubit</title>
</head>

<body>
	<div class="contenedor">
		<form action="">
			<div class="selectbox">
				<div class="select" id="select">
					<div class="contenido-select">
						<h1 class="titulo">Selecciona tu pais</h1>
						<p class="descripcion">Lorem ipsum dolor sit.</p>
					</div>
					<i class="fas fa-angle-down"></i>
				</div>

				<div class="opciones" id="opciones">
					<a href="#" class="opcion">
						<div class="contenido-opcion">
							<img src="img/mexico.png" alt="">
							<div class="textos">
								<h1 class="titulo">Mexico</h1>
								<p class="descripcion">Lorem ipsum dolor sit.</p>
							</div>
						</div>
					</a>
					<a href="#" class="opcion">
						<div class="contenido-opcion">
							<img src="img/spain.png" alt="">
							<div class="textos">
								<h1 class="titulo">España</h1>
								<p class="descripcion">Consectetur adipiscing elit.</p>
							</div>
						</div>
					</a>
					<a href="#" class="opcion">
						<div class="contenido-opcion">
							<img src="img/colombia.png" alt="">
							<div class="textos">
								<h1 class="titulo">Colombia</h1>
								<p class="descripcion">Suspendisse eleifend venenatis.</p>
							</div>
						</div>
					</a>
					<a href="#" class="opcion">
						<div class="contenido-opcion">
							<img src="img/argentina.png" alt="">
							<div class="textos">
								<h1 class="titulo">Argentina</h1>
								<p class="descripcion">Sed posuere laoreet dui.</p>
							</div>
						</div>
					</a>
					<a href="#" class="opcion">
						<div class="contenido-opcion">
							<img src="img/chile.png" alt="">
							<div class="textos">
								<h1 class="titulo">Chile</h1>
								<p class="descripcion">Dignissim hendrerit odio rhoncus.</p>
							</div>
						</div>
					</a>


				</div>
			</div>
			<input type="hidden" name="pais" id="inputSelect" value="">
		</form>

		<button>
			<span class="shadow"></span>
			<span class="edge"></span>
			<a href="/Home/D_personales" span class="front text"> siguiente </a>
			</span>
		</button>

	</div>

	<br /><br /><br /><br /><br /><br /><br /><br /><br /><br />

	<script src="/js/seleccion.js"></script>
</body>
