@model Programación_Web_Nubit.Models.Empleo
@{
	ViewData["Title"] = "Seleccion";
	Layout = "_Layout";
}

<head>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Play&display=swap" rel="stylesheet">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Play&display=swap" rel="stylesheet">
	<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Oswald:wght@300&family=Roboto&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="~/css/seleccion.css"/>
	<title>Nubit</title>
</head>

<body>
	<div class="contenedor">
		
		<div class="form-group">
			<form asp-action="insertempxtraba" method="post">
					<select asp-for="Pk_empleo" asp-items=" ViewBag.Empleo" class="select2-placeholder-multiple form-control">
                         <option value=""> -- Selecciona --</option>
                    </select>


				<div class="container-fluid">
					<a asp-controller="Home" asp-action="Felicidades" type="submit" class="btn btn-outline-success">Finalizar</a>
				</div>
				<br>
				<br>
				<button type="submit">enviar</button>
		    </form>


        </div>
	</div>

	<br /><br /><br /><br /><br /><br /><br /><br /><br /><br />

	<script src="/js/seleccion.js"></script>
</body>
