@{
    ViewData["Title"] = "Solicitud de Empleo";
}

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Play&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Play&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Oswald:wght@300&family=Roboto&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/solicitudempleo.css" />
    <title>Nubit</title>
</head>

<body>
    
        <div class=" form-header">
		<h2 class="form-label">¡Ú<span>nete a nosotros <br> los servicios estan a la vuelta!</span></h2><br>
		<h3>Has tu solitud en 15 minutos <br> cientos de personas buscan de tu servicio</h3>
	</div>

	<br>

	<section class="contenedor Sobre-nosotros">
		<div class="contendor-sobre-nosotros">
			<img src="/css/Image/acompañamiento-empleados.png" alt="" class="image-about-us">
			<div class="contenedor-texto">
				<h3><span>1</span>Solicita tu registro </h3>

				<p>Registrate de manera inmediata ,proporcionando <BR>informacion para ser evaluado.</BR> </p>
				<h3><span>2</span>Revisa tu correo</h3>

				<p>Mantenga vigilado su correo se le enviara <br> su resultados de la prueba.</p>
				<h3><span>3</span>Los servicio llegaran... </h3>

				<p>Seras avisado cuando tengas servicios disponibles.</p>
				<br>
				<a href="/Home/seleccion"><button type="submit" class="formulario__btn_siguiente">Enviar</button></a> 
				<br>
			</div>
		</div>
		<br><br>
	</section>
    
</body>
