@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


h2 {
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    font-size: 60px;
    padding: 0px 10px;
    text-align: center;
    text-transform: uppercase;
    text-rendering: optimizeLegibility;
}

/* editado */

h3 {
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    padding: 10px 10px;
    text-align: center;
    text-transform: uppercase;
    text-rendering: optimizeLegibility;
}

h4 {
    font-family: sans-serif;
    color: rgb(162, 2, 255);
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    font-size: 42px;
    padding: 0px 0px;
    text-align: center;
}

.contendor-sobre-nosotros {
    display: flex;
    justify-content: space-evenly;
}




.contenedor-texto h3 span {
    background: #4d0686;
    color: #fff;
    border-radius: 100%;
    display: inline-block;
    text-align: center;
    width: 28px;
    height: 28px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    padding: 2px;
    margin-right: 8px;
}

.contenedor-texto p {
    text-align: right;
    font-size: 19px;
    padding: 10px 10px 10px 10px;
    font-weight: 250;
    text-align: justify;
}

.image-about-us {
    padding: auto;
    border-radius: 10%;
    align-items: center;
    width: 35%;
    height: 30%;
}


body {
    font-family: 'Roboto', sans-serif;
    background: #E5E5E5;
}

main {
    
    width: 90%;
    margin: auto;
    padding: 40px;
}

.formulario {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    text-align: left;
    text-transform: uppercase;
    text-rendering: optimizeLegibility;
}

.formulario__label {
    display: block;
    font-weight: 700;
    padding: 10px;
    cursor: pointer;
}

.formulario__grupo-input {
    position: relative;
}

.formulario__input {
    width: 100%;
    background: #fff;
    border: 3px solid transparent;
    border-radius: 3px;
    height: 45px;
    line-height: 45px;
    padding: 0 40px 0 10px;
    transition: .3s ease all;
}

    .formulario__input:focus {
        border: 3px solid #0075FF;
        outline: none;
        box-shadow: 3px 0px 30px rgba(163, 163, 163, 0.4);
    }

.formulario__input-error {
    font-size: 12px;
    margin-bottom: 0;
    display: none;
}

.formulario__input-error-activo {
    display: block;
}

.formulario__validacion-estado {
    position: absolute;
    right: 10px;
    bottom: 15px;
    z-index: 100;
    font-size: 16px;
    opacity: 0;
}

.formulario__checkbox {
    margin-right: 10px;
}

.formulario__grupo-terminos,
.formulario__mensaje,
.formulario__grupo-btn-enviar {
    grid-column: span 2;
}

.formulario__mensaje {
    height: 45px;
    line-height: 45px;
    background: #F66060;
    padding: 0 15px;
    border-radius: 3px;
    display: none;
}

.formulario__mensaje-activo {
    display: block;
}

.formulario__mensaje p {
    margin: 0;
}

.formulario__grupo-btn-enviar {
    flex-direction: column;
    align-items: right;
}

.formulario__btn {
    height: 45px;
    line-height: 45px;
    width: 30%;
    background: #000;
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: .1s ease all;
}

    .formulario__btn:hover {
        box-shadow: 3px 0px 30px rgba(163, 163, 163, 1);
    }

.formulario__mensaje-exito {
    font-size: 14px;
    color: #119200;
    display: none;
}

.formulario__mensaje-exito-activo {
    display: block;
}

/* ----- -----  Estilos para Validacion ----- ----- */
.formulario__grupo-correcto .formulario__validacion-estado {
    color: #1ed12d;
    opacity: 1;
}

.formulario__grupo-incorrecto .formulario__label {
    color: #bb2929;
}

.formulario__grupo-incorrecto .formulario__validacion-estado {
    color: #bb2929;
    opacity: 1;
}

.formulario__grupo-incorrecto .formulario__input {
    border: 3px solid #bb2929;
}


/* ----- -----  Mediaqueries ----- ----- */
@media screen and (max-width: 800px) {
    .formulario {
        grid-template-columns: 1fr;
    }

    .formulario__grupo-terminos,
    .formulario__mensaje,
    .formulario__grupo-btn-enviar {
        grid-column: 1;
    }

    .formulario__btn {
        width: 100%;
    }
}


/* .formulario__btn_siguiente {
	height: 45px;
	line-height: 45px;
	width: 30%;
	background: rgb(0, 216, 245);
	color: #fff;
	font-weight: bold;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	transition: .1s ease all;
}

.formulario__btn_siguiente {
	box-shadow: 3px 0px 30px rgba(163,163,163, 1);
} */
.formulario__btn_siguiente {
    background: linear-gradient(-45deg, #3f00b5, #9f69fe, #27c8b7, #3f00b5);
    background-size: 800% 400%;
    padding: 1em 2em;
    display: inline-block;
    border: none;
    border-radius: 10px;
    text-align: left;
    align-self: start;
    font-size: 17px;
    font-weight: 700;
    color: white;
    transition: all .5s ease-in-out;
    animation: gradient 10s infinite cubic-bezier(.62, .28, .23, .99) both;
}

    .formulario__btn_siguiente:hover {
        animation: gradient 3s infinite;
        transform: scale(1.05);
    }

    .formulario__btn_siguiente:active {
        animation: gradient 3s infinite;
        transform: scale(0.8);
    }

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}



header {
    width: 100%;
    background-color: #0080ff;
    align-items: center;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    margin-bottom: 10px;
}

a {
    color: black;
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
    display: inline-block;
    font-size: 23px;
}

#menu {
    width: 20%;
    margin-right: 100px;
    display: flex;
    justify-content: space-between;
    float: right;
    padding: 40px 1px;
}


    #menu li {
        list-style-type: none;
    }

        #menu li a:hover {
            color: white;
            text-decoration: none;
        }

.logo img {
    padding: 0 10px;
    margin: 0 20px;
    width: 280px;
}





/* Inicio del footer */

.footer {
    /* background: rgb(0, 212, 255);
    background: linear-gradient(0deg, rgba(0, 212, 255, 1) 0%, rgba(254, 254, 254, 1) 100%); */
    background-color: #0080ff;
    padding: 1px 0px;
    font-family: 'Play', sans-serif;
    text-align: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

    .footer .row {
        width: 100%;
        margin: 1% 0%;
        padding: 0.6% 0%;
        color: black;
        font-size: 0.8em;
    }

    .footer .derechos {
        margin: 1% 0%;
        padding: 0.6% 0%;
        font-size: 0.8em;
        color: white;
    }

    .footer .row a {
        text-decoration: none;
        color: black;
        transition: 0.5s;
    }

        .footer .row a:hover {
            color: white;
        }

    .footer .row ul {
        width: 100%;
    }

        .footer .row ul li {
            display: inline-block;
            margin: 0px 5px;
        }

    .footer .row a i {
        font-size: 2em;
        margin: 0% 10px;
    }

