@model Programación_Web_Nubit.Models.Datos_academicos

@{
	ViewData["Title"] = "Datos Escolares";
}

<head>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Play&display=swap" rel="stylesheet">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Play&display=swap" rel="stylesheet">
	<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Oswald:wght@300&family=Roboto&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="~/css/D_personales.css"/>
	<title>Nubit</title>
</head>

<body>
	<h4 class="form-label__titulos"><span> Datos Escolares </span></h4>

	<main  >
		<!-- Grupo: Usuario -->
	<form asp-action="CrearDatos_Academicos" method="post" >
								<div class="formulario__grupo" id="grupo__CPP">
			<label asp-for="nombrescuela" for="CPP" class="formulario__label">Ultimo grado <br /> de estudio </label>
			<div class="formulario__grupo-input">
				<input asp-for="nombrescuela" class="formulario__input" placeholder="Politecnica" >
				<i class="formulario__validacion-estado fas fa-times-circle"></i>
			</div>
			<p class="formulario__input-error">El telefono solo puede contener numeros y el maximo son 14 dígitos.</p>
		</div> 

		<div class="formulario__grupo" id="grupo__Asentamiento">
			<label asp-for="gradoegresado" for="Asentamiento" class="formulario__label">Nombre de la <BR>escuela</label>
			<div class="formulario__grupo-input">
				<input asp-for="gradoegresado"  class="formulario__input" placeholder="cecyte 3" >
				<i class="formulario__validacion-estado fas fa-times-circle"></i>
			</div>
			<p class="formulario__input-error">La CURP tiene que ser de 16 dígitos y solo puede contener numeros, letras
			</p>
		</div>
		<div class="formulario__grupo" id="grupo__Asentamiento">
			<label asp-for="especialidad" for="Asentamiento" class="formulario__label">Especialidad<BR>(Tècnico)</label>
			<div class="formulario__grupo-input">
				<input asp-for="especialidad"  class="formulario__input" placeholder="TESMEC" >
				<i class="formulario__validacion-estado fas fa-times-circle"></i>
			</div>
			<p class="formulario__input-error">La CURP tiene que ser de 16 dígitos y solo puede contener numeros, letras
			</p>
		</div>
		
		

		<div class="formulario__mensaje" id="formulario__mensaje">
			<p><i class="fas fa-exclamation-triangle"></i> <b>Error:</b> Por favor rellena el formulario correctamente.
			</p>
		</div>
				<br />
		<div class="formulario__grupo formulario__grupo-btn-enviar">
			<button type="submit" class="formulario__btn">Siguiente</button>
			<p class="formulario__mensaje-exito" id="formulario__mensaje-exito">Formulario enviado exitosamente!</p>
		</div>
	</form>

	</main>
</body>
