@model Programación_Web_Nubit.Models.Datos_academicos
@{
    ViewData["Title"] = "Editar Datos Academicos";
    Layout = "_Layout";
}
<link rel="stylesheet" href="~/css/PerfilUsuario.css"/>
<div class="container-fluid">
    <div class="offset-12">
        <div class="card border">
            <div class="card-header bg-dark">
                <h1 class="text-white">
                    <strong>Editar Datos Academicos</strong>
                </h1>
            </div>
            <div class="card-body">
                <form asp-action="EditarDatosAcademicos" method="post">
                    @*OBTENEMOS EL ID DEL USUARIO PERO SE LO OCULTAMOS AL USUARIO*@
                    <input type="hidden" asp-for="PkDatosacademicos"/>
             
                    <div class="form-group">
                        <label class="formulario__label" asp-for="nombrescuela">Nombre de escuela : </label>
                        <input class="formulario__input" asp-for="nombrescuela" placeholder="Ingrese el nombre de la escuela" required />
                    </div>
                    <div class="form-group">
                        <label class="formulario__label" asp-for="gradoegresado">Grado egresado : </label>
                        <input class="formulario__input" asp-for="gradoegresado" placeholder="Ingrese el grado egresado" required />
                    </div>
                    <div class="form-group">
                        <label class="formulario__label" asp-for="especialidad">Especialidad : </label>
                        <input class="formulario__input" asp-for="especialidad" placeholder="Ingrese la especialidad" required />
                    </div>
                    
                    
                    <div class="container-fluid">
                        <br />
                        <br />
                        <button type="submit" class="btn btn-outline-success">
                            <i class="fa-solid fa-plus"></i> Editar
                        </button>
                    </div>
                </form>
                 <br />
                 <br />
                <a class="btn btn-outline-dark" asp-controller="PerfilUsuario" asp-action="Index">
                    <i class="fa-solid fa-arrow-rotate-left"></i> Volver
                </a>
            </div>
        </div>
    </div>
</div>
